@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 1s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}